<div class="container">
  <div class="row">
    <div class="col-6 list-group">
      <h2>Pendientes</h2>
      <% @pendientes.each do |todo| %>
        <div class="list-group-item border-warning">
          <p> <%= todo.description %> </p>
        </div>
      <% end %>

    </div>
    <div class="col-6 list-group">
      <h2>Completados</h2>
      <% @completos.each do |todo| %>

        <div class="list-group-item border-success">
          <p> <%= todo.description %> </p>
        </div>

      <% end %>

    </div>
  </div>
</div>
