// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav.navbar{
  background-color: #03527a;
  color: #fff;
  .nav-link{
    color: #fff;
  }
  :hover{
    color: #ccc;
  }
  .navbar-brand{
    color: #03527a;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
  }
}
.container{
  margin-top: 60px;
}
.card{
  margin-bottom: 20px;
  .card-body{
    text-align: center;
  }
}
.contiene-add-new-btn{
  margin: 20px 0;
  text-align: right;
}
